// PALETTE
// FONTS
// RUBIK'S CUBE
// Cubes sizing
$cube-width: 60px;
$cube-height: 60px;
$cube-depth: 60px;
// Rubik's cube sizing
$rubiks-width: 3 * $cube-width;
$rubiks-height: 3 * $cube-height;
$transform-coeff: -0.5;
$side-rotation-angle: 90deg;
